<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Twilio App</title>
<style>
	/*  * {
	 		outline: 2px solid red;
	 	} */ 
	* {margin: 0; padding: 0;}

html {
    background-color: #34495e;
}

body {
    font-family: arial, verdana;
}

</style>
</head>
<body>
	<h1>Thank you, your message it's on its way!</h1>
</body>
</html>